body,
html {
    padding: 0px;
    margin: 0;
}

header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-image: url('/img/mulher2.jpg');
    color: white;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

nav {
    max-width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
}

.logo_container {
    display: flex;
    gap: 5px;
}

.hamburger {
    display: flex;
    cursor: pointer;
    font-size: 24px;
    padding: 40px;
    z-index: 100;
}

.menu {
    position: fixed;
    top: 0;
    left: auto;
    right: -250px; 
    height: 100%;
    width: 200px;
    background-color: rgba(66, 64, 34, 0.562);
    box-shadow: -2px 0 10px rgba(24, 23, 23, 0.5);
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all 0.3s ease; 
    z-index: 99;
}

.menu li {
    margin: 10px 0;
    text-align: left;
}

.menu li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.menu.active {
    right: 0; 
}

nav ul li a:link,
nav ul li a:visited {
    color: inherit;
    text-decoration: none;
}

.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: auto;
    text-align: center;
}

.header_container h1 {
    margin: 14px;
    font-size: 100px;
}

.header_container p {
    font-size: 30px;
}

.buttom {
    font-size: 20px;
    border: 1px solid white;
    border-radius: 6px;
    padding: 10px 20px;
    background-color: transparent; 
    transition: all 0.3s ease; /
}

.buttom:link,
.buttom:visited {
    color: inherit;
    text-decoration: none;
}

.buttom:hover {
    background-color: white; 
    color: #333; 
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}
.buttom:active {
    transform: scale(0.98); 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
}

nav,
.header_container {
    position: relative;
    z-index: 5;
}

.philosophy {
    display: flex;
    padding: 60px;
    align-items: center;
    justify-content: center;
    background-color: #f2efed;
}

.philosophy img {
    width: 500px;
    object-fit: cover;
    height: 600px;
}

.philosophy_container {
    display: flex;
    flex-direction: column;
    width: 580px;
    margin-left: 200px;
}

.philosophy_container h1 {
    line-height: 120px;
    font-size: 80px;
    text-align: center;
    margin: 20px;
    color: #43401c;
    font-family: "Rock Salt", cursive;
}

.philosophy_container p {
    font-size: 30px;
    text-align: center;
    color: #43401c 41%, 19%;
}

.carousel {
    background-color: #7e614a;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 600px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    font-size: 40px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
}
  
.carousel-btn.prev {
    left: 28px;
}
  
.carousel-btn.next {
    right: 28px;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    align-items: center; 
    justify-content: center;
    gap: -90px;
}

.carousel-item {
    flex: 0 0 25%;
    text-align: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.8;
    transform: scale(0.8);
}

.carousel-item h2 {
    font-size: 22px;
    font-family: "Rock Salt", cursive;
    color: white;
}

.carousel-item.active {
    flex: 0 0 40%;
    opacity: 1;
    transform: scale(1);
}

.carousel-item img {
    width: 80%;
    border-radius: 12px;
}

.info_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: #f2efed;
}
.text_icons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 180px;
}
.icons {
    display: flex;
    flex-direction: column;
    width: 82px;
    gap: 24px;
}
.texts {
    font-size: 36px;
    line-height: 75px;
    color: #43401c;
    font-family: "Rock Salt", cursive;
}
footer{
    padding: 16px;
    color: white;
    background-color: #7e614a;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

footer .social a {
    color: inherit;
    font-size: 26px;
    cursor: pointer;
    text-decoration: none;
}